<% layout("/layouts/boilerplates.ejs")%>

   <script>
      let mapToken="<%=process.env.MAP_TOKEN%>";
      let listing=<%- JSON.stringify(listing)%>
   </script>

   <div class="row">
         <div class="col-6 offset-3 mt-2"> 

            <h3><%=listing.title%></h3>

         </div>
         <div class="card listing-card col-5 offset-3">
              <img src="<%=listing.image.url%>" class="show-img" alt="listing-image">
              <div class="card-body">
                  <p class="card-text"><i>Owned by:<%=listing.owner.username%></i></p>
                  <%=listing.description%><br>
                  &#8377;<%=listing.price.toLocaleString("en-IN")%><br>
                  <%=listing.location%><br>
                  <%=listing.country%>
               </div>
         </div>
         <div class="offset-3" style="display: flex;" style="margin-top: 17px;">
            
            <% if(currUser && listing.owner.equals(currUser._id)){%>
   
               <form method="GET" action="/listings/<%=listing._id%>/edit/">
                  <button class="btn button-design show-edit-button">Edit</button>
            
               </form>
               <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE">

                  <button class="btn button-design">Delete</button>
               </form>
               
            <%}%>    
         </div>     
         <div class="col-6 offset-3 mt-2" >
            <% if(currUser){%>
               <hr>
               <h4>Add review</h4>
               <form method="POST" action="/listings/<%=listing._id%>/reviews" 
                  novalidate class="needs-validation">
               
                 <div>
                     <fieldset class="starability-basic">
                        <h5>Rating:</h5>
                        <input type="radio" id="no-rate" class="input-no-rate" 
                        name="review[rating]" value="1" checked aria-label="No rating." required/>
                        <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                        <label for="first-rate1" title="Terrible">1 star</label>
                        <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                        <label for="first-rate2" title="Not good">2 stars</label>
                        <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                        <label for="first-rate3" title="Average">3 stars</label>
                        <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                        <label for="first-rate4" title="Very good">4 stars</label>
                        <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                        <label for="first-rate5" title="Amazing">5 stars</label>
                     </fieldset>
                 </div>
                 <br>
                 <div>
                    <label for="comment" class="form-label"><h5>Comment:</h5></label>
                    <textarea name="review[comment]" 
                    id="comment" rows="6" cols="3"
                    placeholder="write your comment" class="form-control" required></textarea>
                    <div class="invalid-feedback">
                       Comment is required
                    </div>
                 </div>
                 <br>
                 <button class="btn btn-dark">Add</button>
               </form>
            <%}%>
         </div>
         <%if(listing.reviews[0]!=null){%>

            <div class="col-6 offset-3 mt-2">
               <hr>
               <h5>Customer review</h5>
               <div class="row row-col-sm-1">
               <% for(review of listing.reviews){%>
                     
                  <div class="col-5 card ms-2 mb-3">
                     <div class="card-body">
                        <h6 class="card-title">@<%=review.author.username%></h6>
                        <p class="starability-result" data-rating="<%=review.rating%>"></p>
                        <p class="card-text"><%=review.comment%></p>
                        <form class="mb-3 mt-3" method="POST" 
                        action="/listings/<%=listing._id%>/reviews/<%=review._id%>?_method=DELETE">
                        
                           <button class="btn btn-sm btn-dark">Delete</button>
                        </form>
                     </div>
                  </div>
               <%}%>
               </div>
                   
            </div>
         <%}%>
         <div class="col-6 offset-3 mt-2" >
            <hr>
            <h5>Where you'll we</h5>
            <div id="map"></div>
         </div>
   </div>
   <script src="/map.js"></script>     